<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The 10 Best Movies Of All Time</title>
</head>

<body>
    <h1>Top 10 Best Movies Of All Time</h1>
    <img src="https://tipsmake.com/data/thumbs/10-best-movies-of-all-time-thumb-9hLOPwS6K.jpg" height="200px"
        width="300px" />
    <br>

    <p>Ranking the best movies ever made is a pretty impossible task. First of all, no one in the world has seen every
        movie ever made. Even if someone had pulled off that feat, movies are very subjective and what one person thinks
        is a great film might not be so well-regarded by someone else. The closest we can come to have a definitive
        ranking
        is a list based on audience ratings. In that sense, IMDb's list of the top rated films of all time might be
        among
        the best of its kind.</p>

    <p>IMDB remains one of the most popular movie information sites on the internet. Their top-rated movies list is
        compiled
        of films that have been rated by millions of viewers. While the list is always changing, the top films have
        remained
        quite unchanged for a number of years now. Check out the top movies of all time, according to IMDb.</p>

    <p>Updated by Colin McCormick on September 5th, 2020: With few new films of the horizon, many fans are catching up
        on past
        films they might have overlooked. IMDb's list of the top-rated films of all time is a great resource for a ton
        of great films.
        Though we already looked at the top 10 films on that list, there is still plenty of room to expand and highlight
        a few more
        gems that captured the hearts and imaginations of audiences.</p>

    <h2>10. The Lord Of The Rings: The Fellowship Of The Rings (2001) - 8.8</h2>
    <img src="https://upload.wikimedia.org/wikipedia/en/8/8a/The_Lord_of_the_Rings_The_Fellowship_of_the_Ring_%282001%29.jpg"
        height="350px" width="250px" />
    <br>
    <p>Peter Jackson's hugely popular fantasy trilogy kicked off with The Fellowship of the Rings. J.R.R. Tolkien's
        books were brought
        to life as fans were transported to Middle Earth where Frodo Baggins and a band of heroes set out to destroy the
        powerful
        One Ring before Sauron can use it for evil.</p>

    <p>The film wonderfully introduces this beautiful world and its characters. The simple yet thrilling quest is filled
        with fun,
        terror, and action. It's not hard to see why fans were immediately drawn to this franchise.</p>
    <a href="https://www.imdb.com/title/tt0120737/">click to know more about this movie</a>

    <h2>9. The Good, The Bad And The Ugly (1966) - 8.8</h2>
    <img src="https://lh3.googleusercontent.com/proxy/I9zYJRiQ-Ud9y9QDx5hCBpPQT8Wu8DZvA9_JuQQfohehtj0NmIAPV-N-5JHkUxpNyZ21CHyPJmSmU_ovV_E70bFLv24Twjz2FGY3jQeCtsugXTftVeiBfEL6FCsh5jyKFIV6CXQx9Tr-YMe_7s-t1A3M"
        height="350px" width="250px" />
    <br>
    <p>Westerns have been a Hollywood staple since the very beginning, but when the genre went over to Italy, it changed
        the
        Western forever.The so-called Spaghetti Westerns told more complex stories with unique styles of film-making
        that were
        unlike anything audiences had seen before. The Good, the Bad and the Ugly is the definitive entry in that
        subgenre.</p>

    <p>The film follows three deadly men on a quest to retrieve buried treasure in the midst of the Civil War. The movie
        helped
        popularize the Mexican Standoff trend which is still used in action movies today, made a star of Clint Eastwood
        and gave
        us one of the most iconic films scores of all time.</p>
    <a href="https://www.imdb.com/title/tt0060196/">click to know more about this movie</a>

    <h2>8. Pulp Fiction (1994) - 8.9</h2>
    <img src="https://upload.wikimedia.org/wikipedia/en/3/3b/Pulp_Fiction_%281994%29_poster.jpg" height="350px"
        width="250px" />
    <br>
    <p>Quentin Tarantino is one of the most popular film-makers of all time. His unique voice, extensive film knowledge
        and
        penchant for mixing hilarious comedy with brutal violence helped to inspire a generation of film-makers. Pulp
        Fiction
        is regarded by many as his masterpiece, and it's hard to argue with that.</p>

    <p>The film intercuts between various stories set in the Los Angeles underworld. Tarantino takes familiar crime
        stories and
        gives them his own special twist. The film is unpredictable and fast-paced, with endlessly quotable dialogue all
        backed
        up by an amazing soundtrack. Often imitated but never duplicated.</p>
    <a href="https://www.imdb.com/title/tt0110912/">click to know more about this movie</a>

    <h2>7. The Lord Of The Rings: The Return Of The King (2003) - 8.9</h2>
    <img src="https://miro.medium.com/max/1011/1*i0YJoVZ9-J-lTzwq7Dv0hA.png" height="350px" width="250px" />
    <br>
    <p>Few people thought adapting J.R.R. Tolkien's epic Lord of the Rings series for the big screen would be possible,
        but Peter Jackson proved them all wrong. With The Return of the King, Jackson managed to conclude one of the
        greatest film trilogies of all time in a truly satisfying way.</p>

    <p>The film brings the quest to destroy the One Ring to a big end. While the film gets ridiculed for dragging
        out its finale, Jackson and his team did a beautiful job bringing it all to a close in this emotional
        spectacle that features some truly amazing battle sequences.</p>
    <a href="https://www.imdb.com/title/tt0167260/">click to know more about this movie</a>

    <h2>6. Schindler's List (1993) - 8.9</h2>
    <img src="https://m.dw.com/image/16467577_401.jpg" height="350px" width="250px" />
    <br>
    <p>It's no surprise to see Steven Spielberg's name appear on the list of the top rated films of all time.
        Given his penchant for creating beloved films, there were a number that could conceivably be in the top 10.
        However, it is his most difficult movie to watch which ranks the highest, which is appropriate as it is one of
        his
        finest jobs as a director.</p>

    <p>Schindler's List is a harrowing story of the real-life tale of Oskar Schindler and his attempts to save Jewish
        citizens
        during the Nazi rule in Germany. While Schindler may be an inspiring hero, the film is most effective as a
        horrific depiction
        of the Holocaust. Shot in haunting black and white, Spielberg created a film that will last in the minds of
        viewers
        for years to come.</p>
    <a href="https://www.imdb.com/title/tt0108052/">click to know more about this movie</a>

    <h2>5. 12 Angry Men (1957) - 8.9</h2>
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/digital/video/hero/Movies/Top250/B001MLWLHG_12angrymen_UXFX1._RI_.jpg"
        height="350px" width="250px" />
    <br>
    <p>While most of the films on this list are giant epics, 12 Angry Men is, by comparison, much smaller. However, that
        does nothing to
        lessen its impact. The film is set almost entirely inside a jurors room as the twelve men debate a murder case
        they have just overseen.
        With one voice insisting the accused is innocent, the film details the life-or-death debate which ensues.</p>

    <p>While the setting might seem dull, it only helps to give the movie a sense of intensity. The film-making
        brilliantly makes the room seem more
        and more confined as the debate rages on. The claustrophobic feel adds to the atmosphere of it all. It's
        stunning proof that small scale films
        can pack a big punch.</p>
    <a href="https://www.imdb.com/title/tt0050083/">click to know more about this movie</a>

    <h2>4. The Dark Knight (2008) - 9.0</h2>
    <img src="https://upload.wikimedia.org/wikipedia/en/c/c9/Darkknight_cd.jpg" height="350px" width="250px" />
    <br>
    <p>Just ahead of 12 Angry Men, which is the oldest movie on this list, The Dark Knight comes in as the newest. The
        superhero genre might not get a lot
        of respect from most cinephiles, but Christopher Nolan's second Batman film proved they can deliver smart, epic
        and thrilling movies.</p>

    <p>The film details Batman's desperate attempt to stop Joker from destroying Gotham as he searches for someone to
        take up the role of the city's protector.
        The film feels like a crime epic, with some amazing set pieces and unpredictable twists. However, the film is
        most remembered for the late Heath Leger's
        mesmerizing performance as the anarchist Joker.</p>
    <a href="https://www.imdb.com/title/tt0468569/">click to know more about this movie</a>

    <h2>3. The Godfather: Part II (1974) - 9.0</h2>
    <img src="https://i.pinimg.com/originals/ea/29/0d/ea290d22010032b85a762c5267c2f735.jpg" height="350px"
        width="250px" />
    <br>
    <p>The Dark Knight is one of those rare examples of how a sequel can actually be a worthwhile film on its own. Of
        course, the most famous example of this is
        The Godfather: Part II. It probably seemed like a preposterous idea at the time for Francis Ford Coppola to make
        a follow-up to his widely acclaimed crime saga,
        but he proved it was a very good idea.</p>

    <p>Without Marlon Brando returning for his iconic role, the film tells the story of young Vito Corleone, played by
        Robert De Niro who makes the role his own.
        Along with those amazing flashback scenes, the sequel follows Michael's further decent into the world of crime
        and his complicated relationship with his brother Fredo.
        A brilliant continuation and a masterpiece in its own right.</p>
    <a href="https://www.imdb.com/title/tt0071562/">click to know more about this movie</a>

    <h2>2. The Godfather (1972) - 9.2</h2>
    <img src="https://upload.wikimedia.org/wikipedia/en/a/af/The_Godfather%2C_The_Game.jpg" height="350px"
        width="250px" />
    <br>
    <p>The Godfather: Part II is one of the most acclaimed films of all time and still it's not the highest ranked film
        in that trilogy. That honor goes to the original.
        There's a lot of debate among film fans about which is the better movie, but it's safe to say they are both
        massive achievements in cinema.</p>

    <p>This is the story of the Corleone family, an Italian-American mafia family who struggle with maintaining power
        after their patriarch is nearly assassinated.
        The film is violent, funny, intense, emotional and so much more. There are countless quotable lines and
        unforgettable sequences. It's no wonder it is regarded as such an
        inspiring film to so many of today's best film-makers.</p>
    <a href="https://www.imdb.com/title/tt0068646/">click to know more about this movie</a>

    <h2>1. The Shawshank Redemption (1994) - 9.3</h2>
    <img src="https://traditiononline.org/wp-content/uploads/2019/11/13-Best-Shawshank.jpg" height="350px"
        width="250px" />
    <br>
    <p>It's no surprise that the highest ranked film of all time is also one of the most crowd-pleasing films of all
        time. You would think that a story set inside a maximum security
        prison would not have many pleasing moments, but The Shawshank Redemption manages to be a surprisingly uplifting
        tale.</p>

    <p>Based on a Stephen King story, the film is told over several years at the titular prison and centers on a
        friendship between two inmates. The relationship between the two men
        is one of the most heart-warming friendships ever shown on screen and it helps give the film those beautiful
        moments which lead up to one of the greatest endings in film history.</p>
    <a href="https://www.imdb.com/title/tt0111161/">click to know more about this movie</a>
</body>

</html>